.footer {
	padding: 10rem 3rem;
	font-size: 1.4rem;
	background-color: $color-grey-dark-3;
	color: $color-grey-light-1;

	&__logo-box {
		margin-bottom: 8rem;

		//Como __logo es inline se pone así
		text-align: center;

		@include respond(tab-port) {
			margin-bottom: 6rem;
		}
	}

	&__logo {
		width: 15rem;
		height: auto;

		//Pero si __logo fuera block sería así (sin el display block)
		// margin: 0 auto;
		// display: block;
	}

	&__footer-box {
		display: flex;
		justify-content: space-between;

		@include respond(tab-land) {
			width: 100%;
			flex-direction: column;
			align-items: center;
		}
	}

	&__navigation {
		border-top: 1px solid $color-grey-dark;
		padding-top: 2rem;
		// margin-right: 10rem;

		// @include respond(tab-land) {
		// 	max-width: 50rem;
		// 	margin-bottom: 10rem;
		// }

		@include respond(tab-land) {
			margin-bottom: 5rem;
		}

		@include respond(tab-port) {
			width: 100%;
			margin-bottom: 5rem;
		}
	}

	&__list {
		list-style: none;

		// @include respond(tab-port) {
		// 	display: flex;
		// 	justify-content: space-between;
		// }
	}

	&__item {
		display: inline-block;
		position: relative;
		transition: 0.2s;

		&:not(:last-child) {
			margin-right: 1.5rem;
		}

		@include respond(tab-land) {
			&:not(:last-child) {
				margin-right: 2.8rem;
			}
		}

		@include respond(tab-port) {
			// text-align: center;
			&:not(:last-child) {
				margin-right: 1.35rem;
			}
		}
		// @include respond(tab-port) {
		// 	&:not(:last-child) {
		// 		margin-right: 1rem;
		// 	}
		// }
	}

	&__link {
		&:link,
		&:visited {
			text-transform: uppercase;
			text-decoration: none;
			color: $color-grey-light-1;
			background-color: $color-grey-dark-3;
			display: inline-block;
			transition: 0.2s;
		}

		&:hover,
		&:active {
			color: $color-primary;
			transform: scale(1.3) rotate(5deg);
			box-shadow: 0 1rem 1rem rgba($color-black, 0.4);
		}
	}

	&__copyright {
		max-width: 40%;
		border-top: 1px solid $color-grey-dark;
		padding-top: 2rem;
		// margin-lefts: 10rem;

		flex: 0 1 auto;

		@include respond(tab-land) {
			max-width: 50rem;
		}

		@include respond(tab-port) {
			width: 100%;
			max-width: 100%;
		}
	}
}
